<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898702181557-6bqecnusmovf15m2n5i73eohljps9aou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898702181557-6bqecnusmovf15m2n5i73eohljps9aou</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0Ti1K4gbloffiKbNQcAtisVp0XAN2XA</string>
	<key>GCM_SENDER_ID</key>
	<string>898702181557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MacMusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>macplayerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>macplayerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898702181557:ios:8ea714108bebfcc382eafc</string>
	<key>DATABASE_URL</key>
	<string>https://macplayerapp.firebaseio.com</string>
</dict>
</plist>